$corPrincipal1:  #e3ac23; /*Amarelo*/
$corPrincipal2: #603813; /*Marrom*/ 
$corPrincipal2_70: rgba(96, 56, 19, 0.7);  /*Marrom 70%*/ 
$corConteudo1: #5b595f; /*Cinza escuro*/
$corConteudo2: #ffffff; /*Branco*/
$corBg: #f5f5f5; /*Background*/
